Application/Chat/bin/
Application/Chat/obj/
Application/Server/bin/
Application/Server/obj/
Client/bin/
Client/obj/
Server/obj/
.vs/
DotnetChat/ChatClient/bin/
DotnetChat/ChatClient/obj/
DotnetChat/Server/bin/
DotnetChat/Server/obj/
DotnetChat/Shared/bin/
DotnetChat/Shared/obj/
DotnetChat/Chat.Server/Properties/PublishProfiles/
DotnetChat/Chat.Client/bin/
DotnetChat/Chat.Client/obj/
DotnetChat/Chat.Server/bin/
DotnetChat/Chat.Server/obj/
DotnetChat/Chat.Shared/bin/
DotnetChat/Chat.Shared/obj/
DotnetChat/Chat.Test/bin/
DotnetChat/Chat.Test/obj/
DotnetChat/ChatApp/bin/
DotnetChat/ChatApp/obj/
